<div class="container">
  <%= render partial: 'registration', locals: { state: @state } %>

  <div class="wrapper">
    <% @speakers_grouped_by.each_with_index do |(date, speaker), inx|  %>
      <div class="date"><%= date.to_s %></div>
      <% speaker.each_with_index do |speaker, index| %>
        <h3><%= speaker[0] %></h3>
        <div class="text-center wrapper__items">
          <% speaker[1..3].each_with_index do |timeslot, i|%>
            <div class="wrapper__item" >
              <div class="event" data-toggle="modal" data-target="#exampleModal<%= [index, i, inx].join('') %>" >
                <%= timeslot %>
              </div>
              <%= render 'modal', speaker: speaker[0], timeslot: timeslot, index: index, i: i, inx: inx %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$('.modal__no').modal('show')
</script>
